* {
  margin: 0;
  padding: 0;
}

.fav_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fav_text_container > .favs_text_on {
  border-radius: 50%;
  color: #ff0097;
  margin: 10px;
  border: none;
  background: limegreen;
  padding: 10px;
  font-size: 30px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fav_text_container > .favs_text_on:hover {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  color: white;
  cursor: pointer;
}

.fav_text_container > .favs_text_on:focus {
  outline: none;
}

.fav_text_container > .favs_text_off {
  border-radius: 50%;
  color: white;
  margin: 10px;
  border: none;
  background: limegreen;
  padding: 10px;
  font-size: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fav_text_container > .favs_text_off:hover {
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  color: #ff0097;
  cursor: pointer;
}

.fav_text_container > .favs_text_off:focus {
  outline: none;
}

.favorites_nav_hide {
  position: absolute;
  overflow: hidden;
  left: -350px;
  height: 100vh;
  width: 300px;
  background: rgba(45, 10, 31, 0.8);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 99;
}

.favorites_nav_hide > figure {
  margin: 5px;
}

.favorites_nav_show {
  z-index: 99;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 300px;
  background: rgba(45, 10, 31, 0.8);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.favorites_nav_show > figure {
  margin: 5px;
}

.header_container {
  background: black;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
}

.search_container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search_container .search_input {
  height: 2.1em;
  font-size: 18px;
  border: none;
  width: 70%;
}

.search_container button[type="submit"] {
  padding: 5px;
  color: white;
  background: crimson;
  border: none;
  font-size: 1.4em;
  height: 100%;
}

.horizantal_container {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.horizantal_container::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

.horizantal_container::-webkit-scrollbar-thumb {
  background: rgba(128, 187, 224, 0.5);
  border-radius: 20px;
}

.horizantal_container::-webkit-scrollbar-track {
  background: rgba(209, 209, 209, 0.5);
}

.overlay_fav {
  position: absolute;
  width: 100%;
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
  top: 0;
  right: 0;
}

.overlay_fav:hover {
  cursor: pointer;
}

.fav_btn {
  border: 0;
  background: 0;
  margin: 5px 5px 0 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.fav_btn:focus {
  outline: none;
}

.fav_btn > .fav_icon {
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

.fav_btn > .fav_icon:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: yellow;
  border-color: yellow;
}

.fav_btn > .unfav_icon {
  color: yellow;
  font-size: 30px;
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 50%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

.fav_btn > .unfav_icon:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ffffff;
  border-color: #ffffff;
}

.fav_btn > .remove_icon {
  color: yellow;
  font-size: 30px;
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 50%;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
}

.fav_btn > .remove_icon:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: crimson;
  border-color: crimson;
}

.gifContainer {
  position: relative;
  display: inline-block;
  margin-right: 13px;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
  opacity: 1;
}

.gifContainer:hover {
  opacity: .9;
}

.gifContainer .gifBtn {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.gifContainer .gifBtn:focus {
  outline: none;
}

.gifContainer .gifBtn .gifImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gifContainer[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateY(200px) scale(0.4);
          transform: translateY(200px) scale(0.4);
}

.gifContainer[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}
/*# sourceMappingURL=App.css.map */